#event-infobox-inner
	= special_event_date(@event) 
	.strong.big
		= time_string @event
	.location= location_label(@event)
	= render :partial => 'events/share_event'
	- if @event.is_current?
		= render :partial => 'rsvp_block'
		- render :partial => 'event_admin_buttons' if admin_signed_in?
