- curyear = events.first.occurs_on.year
= show_year(curyear, curyear+1)
- events.each do |ev|
	- curyear = ev.occurs_on.year
	- last_month = ev.occurs_on.month == 1 ? 'last' : ''
	.event.list_row{:class => last_month + ' ' + cycle('list_odd', 'list_even')}
		.event-date.list_label= ev.occurs_on.to_s(:month_day)
		.list_detail= link_to raw(ev.title), event_path(ev)
		.list_detail= event_speakers_list(ev.speakers, false)
	= show_year(curyear -1, ev.occurs_on.year) if ev.occurs_on.month == 1
