/ expects in locals: ppl_code, ppl_label, ppl_pricing

= form_tag "https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id="+ppl_code, :id => idify(ppl_label)+"PPL", :class => 'ppButton' do
	.extra-bottom
		= hidden_field_tag :name => "cmd", :value => "_s-xclick"
		= hidden_field_tag :name => "hosted_button_id", :value => ppl_code
		= label_tag (idify(ppl_label)+"MtgBtn").to_sym, ppl_label, :title => tip
	.div
		= image_submit_tag "https://www.paypal.com/en_US/i/btn/btn_paynow_SM.gif", :style => "border: none;", :alt => "PayPal - The safer, easier way to pay online!", :id => idify(ppl_label)+"MtgBtn"
		= image_tag "https://www.paypal.com/en_US/i/scr/pixel.gif", :style => "border: none;", :width => "1", :height => "1"
	= raw ppl_pricing
