!!! 5
%html
	%head
		%title= page_title(@context_title)
		= raw stylesheet_link_tag('jquery.jtweetsanywhere-1.2.1', :media => 'screen, projection')
		= raw stylesheet_link_tag('screen', :media => 'screen, projection')
		= raw stylesheet_link_tag('apprise.min', :media => 'screen, projection')
		= raw stylesheet_link_tag('superfish', :media => 'screen, projection')
		= raw stylesheet_link_tag('print', :media => 'print')
		/[if lt IE 8]
			= raw stylesheet_link_tag('ie', :media => 'screen, projection')
		/ UNCOMMENT for CSS debug stylesheet
		/ ALSO uncomment body class
		/ = raw stylesheet_link_tag 'holmes'
		= favicon_link_tag
		/ Need the following block to pull in the appropriate Twitter account from Settings
		:erb
			<script>
				var scTwitterAccount = "<%= Setting.retrieve('twitter_account') %>"
			</script>
		= csrf_meta_tag
	/ %body.holmes-debug
	%body
		#container
			%header
				= render :partial => 'layouts/banner'
				%nav= render_navigation :items => @menu, :expand_all => false
			%section#content_container
				%sidebar= render :partial => 'layouts/sidebar'
				%section#content
					- if flash.present?
						#flash
							- flash.each do |key, value|
								%div{:id => ["flash", key]}= value
					%section#content-inner= yield
			%section#sponsorBlock= render :partial => 'layouts/sponsors_block' if @show_sponsors
			/ = render(:partial => 'users/sponsors', :locals => {:sponsors => @sponsors}) if @sponsors.present?
			%footer= render :partial => 'layouts/footer'
		/ bottom-loading JavaScript
		= render :partial => 'layouts/js'