!!! 5
%html
	%head
		%title= page_title(@context_title)
		= raw stylesheet_link_tag('screen', :media => 'screen, projection')
		= raw stylesheet_link_tag('print', :media => 'print')
		/[if lt IE 8]
			= raw stylesheet_link_tag('ie', :media => 'screen, projection')
		= csrf_meta_tag
	%body
		#container
			%header
				= render :partial => 'layouts/banner'
				= render :partial => 'layouts/navigation'
			%sidebar= render :partial => 'layouts/sidebar'
			%section#content
				- if flash.present?
					#flash
						- flash.each do |key, value|
							%div{:id => ["flash", key]}= value
				%section#content-inner= yield
			/ %section#sponsorBlock= render :partial => 'layouts/sponsors_block' if @show_sponsors
			%footer= render :partial => 'layouts/footer'
		= render :partial => 'layouts/js'